@model LabsVsZombies.Models.BGP

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Model.ServiceName - Labs vs. Zombies</title>
    <link rel="stylesheet" href="~/static/normalize.css" />
    <link rel="stylesheet" href="~/static/lvz.css" />
    <style>body > div { width : 660px }</style>
</head>
<body>
    <header><img src="~/static/zombie.png" /><a href="@Url.Action("Index", "Home")">Labs vs. Zombies</a></header>
    <div class="responsive-table">
        <table>
            <thead>
                <tr>
                    <th colspan="2">@Model.ServiceName</th>
                </tr>
            </thead>
            <tbody>
                <tr><td>Service Name</td><td><img data-field="IsZombie" style="width:28px" src="@(Model.IsZombie ? Url.Content("~/static/zombie.png") : Url.Content("~/static/flower.png"))" />@Model.ServiceName</td></tr>
                <tr><td>Service Status</td><td><span data-field="ServiceStatus">@Model.ServiceStatus</span></td></tr>
                <tr><td>BG Process</td><td><span data-field="BackgroundProcessExists">@(Model.BackgroundProcessExists ? "Yes" : "No")</span></td></tr>
                <tr><td>Nautilus Process</td><td><span data-field="NautilusProcessResponding">@(Model.NautilusProcessResponding ? "Yes" : "No")</span></td></tr>
                <tr><td>DB Connection</td><td><span data-field="NautilusDbSessionExists">@(Model.NautilusDbSessionExists ? "Yes" : "No")</span></td></tr>
                <tr><td>Background Tasks</td><td><span data-field="BackgroundTasks">@Model.BackgroundTasks.Count</span></td></tr>
                <tr><td>Instrument Files</td><td><span data-field="InstrumentFiles">@Model.InstrumentFiles.Count</span></td></tr>
                <tr>
                    <td>Action</td>
                    @if (ViewBag.IsAdmin && Model.ServiceStatus.Contains("Pending"))
                    {
                        <td>
                            <form method="get" action="@Url.Action("Info", "Home")">
                                <input type="hidden" name="serviceName" value="@Model.ServiceName" />
                                <input type="submit" value="Refresh" />
                            </form>
                        </td>
                    }
                    else if (ViewBag.IsAdmin && Model.IsZombie)
                    {
                        <td>
                            <form method="post" action="@Url.Action("RestartBgp", "Home")">
                                <input type="hidden" name="serviceName" value="@Model.ServiceName" />
                                <input type="submit" value="Restart" />
                            </form>
                        </td>

                    }
                    else if (!ViewBag.IsAdmin && (Model.IsZombie || Model.BackgroundTasks.Any() || Model.InstrumentFiles.Any()))
                    {
                        <td>

                            @{
                                var emailBody = $"Possible zombie BGP process: {Model.ServiceName}.";
                            }
                            <a class="warning" href="mailto:@(ViewBag.To)?subject=Labs vs. Zombies Notification,body=@emailBody">Send a notification about this BGP</a>
                        </td>
                    }
                    else
                    {
                        <td>None</td>
                    }
                </tr>
            </tbody>
        </table>
    </div>

    @if (Model.BackgroundTasks.Any())
    {
        <div><hr /></div>

        <div class="responsive-table">
            <table>
                <thead>
                    <tr><th colspan="6">@Model.ServiceName Background Tasks</th></tr>
                    <tr>
                        <th>Background Id</th>
                        <th>Session User</th>
                        <th>Schedule Id</th>
                        <th>Parameter</th>
                        <th>Active</th>
                        <th>Task Type</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var bt in Model.BackgroundTasks)
                    {
                        <tr>
                            <td>@bt.BackgroundId</td>
                            <td>@bt.SessionUser</td>
                            <td>@bt.ScheduleId</td>
                            <td>@bt.Parameter</td>
                            <td>@bt.Active</td>
                            <td>@bt.TaskType</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }

    @if (Model.InstrumentFiles.Any())
    {
        <div><hr /></div>

        <div class="responsive-table">
            <table>
                <thead>
                    <tr><th colspan="2">@Model.ServiceName Instrument Files</th></tr>
                    <tr>
                        <th>Instrument Name</th>
                        <th>File Name</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var file in Model.InstrumentFiles)
                    {
                        <tr>
                            <td>@file.InstrumentName</td>
                            <td>@file.FileName</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
</body>
</html>